@page
@model RestoStockDB.Pages.DetallePlato.IndexModel
@{
    ViewData["Title"] = "Index Detalles de Platos";
}
<h1>Index Detalles de Platos</h1>

<p>
    <a asp-page="Create" class="btn btn-success">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Detalles[0].IdPlato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detalles[0].IdIngrediente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detalles[0].Cantidad)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Detalles)
        {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.IdPlato)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.IdIngrediente)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.IdDetalle" class="btn btn-warning">Edit</a>
                        <a asp-page="./Delete" asp-route-id="@item.IdDetalle" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
