@page
@model RestoStockDB.Pages.Plato.IndexModel

@{
    ViewData["Title"] = "Index Platos";
}

<h1>Index Platos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Plato[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plato[0].PrecioVenta)  
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plato[0].Descripcion)  
            </th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Plato)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioVenta)  

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)  

                </td>
                <td>
                    <span></span>
                </td>
            </tr>
        }
    </tbody>
</table>
