@page
@model RestoStockDB.Pages.DetallePlatos.IndexModel
@{
    ViewData["Title"] = "Detalles de Plato";
}

<h1>Detalles de Plato</h1>

<p>
    <a asp-page="./Create" class="btn btn-success">Crear Nuevo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.DetallesPlato.First().Platos.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.DetallesPlato.First().Ingredientes.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.DetallesPlato.First().Cantidad)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DetallesPlato)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Platos.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Ingredientes.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Cantidad)</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.IdDetalle" class="btn btn-primary">Editar</a>
                    <a asp-page="./Delete" asp-route-id="@item.IdDetalle" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
